# Docker context doesn't need any of these:

devUtils
dist
documentation
\.git
.gitignore
.gradle
gradlew
gradlew.bat
.idea
libs
nonsrc
out
rsrc
rtest
scripts
settings.gradle
src
systests
test
testinput
testoutput
*.webm
utilities
VLabRepoQuickTips.txt
wres-config
wres-datamodel
wres-datamodel-api
wres-io
wres-metrics
wres-thredds-facade
wres-vis
wres.iml
