# Docker context doesn't need any of these:

devUtils
dist
documentation
\.git
.gitignore
.gradle
gradlew
gradlew.bat
.idea
libs
nonsrc
out
rsrc
rtest
settings.gradle
src
systests
test
testinput
testoutput
*.bat
*.nc
*.py
*.txt
*.tar
*.webm
utilities
VLabRepoQuickTips.txt
wres-config
wres-datamodel
wres-grid
wres-io
wres-messages
wres-metrics
wres-system
wres-tasker
wres-util
wres-vis
wres.iml
