<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- %exception{full}: full stacktrace in log file. -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%thread] %level %logger - %msg%n%exception{full}</pattern>
        </encoder>
    </appender>

    <!-- Eclipse/jetty-->
    <logger name="org.eclipse">
        <level value="DEBUG" />
    </logger> -->

    <!-- Qpid-->
   <logger name="org.apache.qpid">
        <level value="DEBUG" />
    </logger>

</configuration>
