/build/
/.classpath
/.project
/bin/
/resources/
/testinput/sharedinput/*.xml
/testinput/sharedinput/*.XML
/testinput/sharedinput/*.asc
/testinput/sharedinput/*.ASC
/testinput/sharedinput/*.MAP06
/testinput/sharedinput/*.nc
/testinput/sharedinput/*.gz
wres-core.jar
wres
compile
